.container {
  width: 100%;
  height: calc(100vh - 12rem);
  background: var(--gray-100);

  .map {
    max-width: 70rem;
    height: 100%;
    display: flex;
    margin: 0 auto;
  }

  h2 {
    font-size: 1.1rem;
  }
}
