.container {
  width: 100%;
  height: calc(100vh - 12rem);
  background: var(--gray-100);

  .map {
    max-width: 70rem;
    height: 100%;
    display: flex;
    margin: 0 auto;
  }

  h2 {
    font-size: 1.1rem;
  }
}

.errorUserPosition {
  max-width: 30rem;
  text-align: center;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin-top: 0.5rem;
    font-size: 1rem;
    max-width: 18rem;
  }

  span {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 900;
    color: var(--purple-300);
  }
}
